@import 'global';
.root-container{
    display:flex;
    height: 700px;
    flex-direction:column;
    position:relative;
    min-width:400px;
     

section{
    height: 80%;
    width:100%;
    position:relative;
  
     display:grid;
     overflow:scroll;
     overflow-x:hidden;
     
     grid-template-columns: 2fr 1fr;
     grid-template-areas:
     "latest latest popular";
    
    
     .card{
         width: 90%;
         height:8.5rem !important;
         border-radius: 5px;
         margin:.5rem;
         background-color:transparent;
        overflow:hidden;
       
     }
     .latest-post{
         display:flex;
         flex-direction:column;
        justify-content:start;
     
        .latest{
            margin-left:1rem;
            font:$f-primary1;
            font-size:1.5rem;
            margin-top: 1rem;
            text-decoration: underline;
        }
        .latest-card{
            margin-left:1rem;
            display:grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas:'picsec contsec' ;
            
            
            align-items:start;
            height:8rem;
            
            .image-wrapper{
              
            width:100%;
            height:7rem;
               
                grid-area: picsec;
                border-radius: 5px;
                object-fit: contain;
                background-color:white;
                margin:0.1rem;
                img{
                    width:100%;
                    height:100%;
                    background-origin: center center;
                    object-fit: contain
                   

                }
            }
            .content-section{
                grid-area: contsec;
                display:flex;
                flex-direction: column;
                align-items:start;
                margin-left:.5rem;
               .title{
                   
                   font:$f-primary2;
                   font-size:1.4rem;
                   word-wrap: break-word;
                   
                   
                   color:black;
                   text-transform: capitalize;
                   margin: 0;
                   &:hover{
                    text-decoration:underline;
                    font-weight:bold;
                    color:rgb(220, 3, 220);
                }   


               }
               .metadata{
                   width:50%;
                   height:1rem;
                   display:flex;
                   justify-content:space-evenly;
                   margin-left:auto;
                
                   span{
                       margin-right:1rem;
                       font-size:small;
                       font-weight:bold;
                        
                       color:$bg-primary;
                   }

               }
               
               
               
     
                .content{
                    margin:0rem 1rem;
                    color:black;
                    line-height:1.7rem;
                    padding:5px;
                    font-size:.7rem;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    position:relative;
                }
                
                
            }
            
        }
       
        }
        
        }
        .popular-post{
            .popular{
                 
                     margin-left:1rem;
                     font:$f-primary1;
                     font-size:1.5rem;
                     margin-top: 1rem;
                     text-decoration: underline;
                 }
                 .popular-card{
                    display:grid;
                    grid-template-columns:1fr 3fr ;
                    grid-template-areas:"picsec contsec";
                    margin-left:1rem;
                    height:7.5rem;
                    width:90%;
                    overflow:hidden;
                    .popular-image-wrapper{
                        display:block;
                        align-items:center;
                        grid-area:picsec;
                        height:7rem;
                        width:100%;
                        margin:5% .2rem;
                        border-radius:5px;
                        
                        
                        img{
                            width:100%;
                            height:100%;
                            background-origin: center center;
                            object-fit: contain
                           
                           
        
                        }



                    }
                    .popular-content-section{
                        grid-area:contsec;
                        display:flex;
                        flex-direction: column;
                        align-items:start;
                        h1{
                            position: relative;
                            font:$f-primary2;
                            font-size:1rem;
                            word-wrap: break-word;
                            color:black;
                            text-transform: capitalize;
                            margin:.2rem .6rem ;
                        &:hover{
                            text-decoration:underline;
                            font-weight:bold;
                            color:rgb(220, 3, 220);
                }  

                        }
                        .metadata{
                            width:100%;
                            height:1rem;
                            display:flex;
                            justify-content:space-evenly;
                            margin-left:auto;
                            span{
                                margin:0 .5rem;
                                font-size:.6rem;
                                font-weight:bold;
                           
                                color:$bg-primary;
                            }
         
                        }
                        
                        .content-popular{
                            margin:0rem 1rem;
                            color:rgb(0, 0, 0);
                            line-height:1.7rem;
                           
                           font-size:.6rem;
                            overflow:hidden;
                            text-overflow: ellipsis;
                           
                        }

                    }
                }

             }


     }
     
    

footer {
    width:100%;
    height:10%;
    
    background-color:rgb(0, 0, 0);
  
   
    margin:.5rem 0 0 0;
 
    .social-media{
        display:block;
        position: relative;
        align-items:center;
        justify-content:center;
        
        width:100%;
        h1{
       
            margin:.2rem;
            margin-bottom:0;
            padding-bottom:.5rem;
            font-size:.9rem;
            color:#fff;
            font-weight:bold;
           text-align: center;
           z-index:1000;
           background-color:#000;

     
        }
        .social_media_icons{

            display:flex;
            align-items:center;
            justify-content:center;
           
            
            background-color:#000;
            .Icon{
                background-color:white;
                border-radius: 100px;
                margin:0 2rem;
                margin-bottom:1rem;
                height:30px;
                width:30px;
                cursor:pointer;
                &:hover{
                    transform:scale(1.2);
                    transition:transform 300ms ease-in-out;
                }
                
            }
        }
        }
        
        ul{
            display:flex; 
            align-items: center;
           justify-content:center;
          
            li{
                text-decoration: none;
                list-style-type: none;
                font:$f-primary1;
                font-size:1.5rem;
                color:white;
                font-weight:bold;
                margin:1rem;
            }
            a{
                text-decoration: none;
              ;
            }
        }
    }
 
    @media screen and (max-width:$mobile-view ) {
        section{
           
        
        .latest-post{
            display:flex;
            flex-direction:column;
            
            .latest-card{
                display:flex  !important;
                flex-direction: column !important;
                width:90vw;
               min-height:16rem !important;
                align-items:start;
                .image-wrapper{
                     margin: 0 auto !important;
                     width:80% !important;
                     height:7rem !important;
                    object-fit:co;
                }
                .content-section{
                    margin: 0 auto !important;
                     width:80% !important;

                    .title{
                        font-size:.8rem !important;
                        margin-bottom: .2rem;
                    }
                    .metadata{
                        width:100% !important;
                        display :flex;
                        justify-content:space-between;
                        span{
                            font-size:.6rem !important;
                        }
                        .content{
                            width:100% !important;
                            line-height:.6rem;
                            font-size:.5rem;
                        }

                    }

                }
            }
        }
        .card{
            width:95%;
            display:flex;
            flex-direction:column;
            align-items:start;
            height:15rem !important;

        }
        .popular-post{
            display:flex;
            flex-direction:column;
            
            .popular-card{
                display:flex  !important;
                flex-direction: column !important;
                width:90vw;
               min-height:16rem !important;
                align-items:start;
                .popular-image-wrapper{
                     margin: 0 auto !important;
                     width:80% !important;
                     height:7rem !important;
                    object-fit:co;
                }
                .popular-content-section{
                    margin: 0 auto !important;
                     width:80% !important;

                    .title{
                        font-size:.8rem !important;
                        margin-bottom: .2rem;
                    }
                    .metadata{
                        width:100% !important;
                        display :flex;
                        justify-content:space-evenly !important;
                        margin-bottom: .2rem;
                        span{
                            font-size: .3rem !important; 
                        }
                        .content-popular{
                            width:100% !important;
                            line-height:.8rem !important;
                            font-size:.9rem !important;
                        }

                    }

                }
            }
        }
        
    }
    footer {
        ul{
            li{
                font-size:.8rem !important;
            }
        }
        .social-media{
            h1{
                font-size:.8rem !important;   
            }
            .social_media_icons{
                .Icons{height:20px !important;
                width:20px !important;
                }
            }
        }
    }
}
@media screen and (max-width:$tablet-view ) {
    section{
        display:flex !important;
        flex-direction: column !important;
        
    .latest-post{
     
        .latest-card{
           
            .content-section{
                h1{
                    font-size:1rem !important;
                }
                .metadata{
                    width:60% !important;
                    display :flex;
                    justify-content:space-between !important;
                    span{
                        font-size:.8rem !important;
                    }
                    .content{
                        line-height:1rem;
                        font-size:.5rem;
                    }

                }

            }
        }
    }
    .popular-post{
     
        .popular-card{
           
            .popular-content-section{
                h1{
                    font-size:1rem !important;
                }
                .metadata{
                    width:60% !important;
                    display :flex;
                    justify-content:space-between !important;
                    span{
                        font-size:.8rem !important;
                    }
                    .content-popular{
                        line-height:1rem !important ;
                        font-size:.8rem !important;
                    }

                }

            }
        }
    }
    .card{
        width:95%;

    }

    
}
} 
