@import 'global';
.container{
    display:flex;
    position:absolute;
    width:90vw;
    height:80vh;
    justify-items:center;
    align-items:center;
    flex-wrap:wrap;
    overflow:scroll;
    margin:0 20px;
    .card{
        width: 15rem;
        height:15rem;
        border-radius: 5px;
        margin:.5rem;
        margin-left:3rem;
        background-color:$bg-primary;
    }
}
