.skeleton{
    background:rgb(201, 201, 201);
    margin:10px 0;

}

.skeleton.text{
    width:100%;
    height:12px;

}
.skeleton.title{
    width:30rem;
    height:3rem;
   
}
.skeleton.image{
    height: 100%;
   width: 11.5rem;
}
.skeleton.metadata{
    height:3rem;
     width:5rem;
}

.skeleton.content{
    height:4rem;
    width:30rem;
}