* {
  margin: 0;
  box-sizing: border-box;
 
}

.app{
 
  width: 100vw;
  display: block;
  overflow:hidden;
  
}
.icon{
  color:rgb(226, 6, 226) ;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}
